.course {
    margin-top: 130px;

    &__nav {
        color: #767e7e;
        font-family: Poppins;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__heading {
        color: #0d1111;
        font-family: Poppins;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__introduction {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__desc {
        color: #767e7e;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 177.778%;
        width: 525px;
    }
    &__guild {
        display: flex;
        align-items: center;
       
        gap: 10px;
    }
    &__link {
        color: #1ebfc1;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration-line: underline;
        cursor: pointer;
    }
    &__icon {
        filter: brightness(0) saturate(100%) invert(67%) sepia(45%)
            saturate(694%) hue-rotate(126deg) brightness(93%) contrast(84%);
        width: 12px;
        height: 12px;
        transition-duration: 0.5s;
    }

    &__guild:hover &__icon {
        translate: 5px;
    }

    &__bottom {
        margin-top: 79px;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        position: relative;
    }

    &__img {
        width: 359px;
        height: 393px;
        object-fit: cover;
        cursor: pointer;
    }

    &__info {
        position: absolute;
        left: 17px;
        right: 17px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
        width: 325px;
        height: 195px;
        flex-shrink: 0;
        bottom: -51px;
        padding: 18px 25px 19px;
    }

    &__price {
        margin-top: 16px;
        color: #767e7e;
        font-family: Poppins;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__strong {
        color: #0d1111;
        font-family: Poppins;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__title {
        color: #0d1111;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__desc-course {
        margin-top: 6px;
        color: #9da6a5;
        font-family: Poppins;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__qty {
        margin-top: 18px;
        display: flex;
        color: #9da6a5;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__classes {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 10px;
    }
    &__time {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__classes:before,
    &__time:before {
        content: "";

        width: 6px;
        height: 6px;
        background: #1ebfc1;
        border-radius: 50%;
    }
}
