.featured {
    margin-top: 130px;
    

    &__brand {
        font-size: 1.2rem;
        font-weight: 700;
        color: #767e7e;
    }

    &__heading {
        margin: 18px 0;
        font-size: 4.2rem;
        font-weight: 700;
        line-height: 133.333%;
        width: 577px;
        color: #0d1111;
    }

    &__desc {      
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5;
        width: 590px;
        color: #767e7e;
    }

    &__info {
        margin-top: 80px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        width: 1024px;
    }
    &__border {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        width: 102px;
        height: 106px;
        &--1 {
            background: #ffc147;
        }
        &--2 {
            background: #ff947a;
        }
        &--3 {
            background: #bf83ff;
        }
    }
    &__title {
        margin: 26px 0 16px;
        color: #0d1111;
        font-family: Poppins;
        font-size: 2.0rem;
        font-weight: 600;
    }
    &__desc-title {
        color: #9da6a5;
        font-family: Poppins;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 168.75%;

        width: 223px;
    }
}
